.container-current{
    height: 700px;
    width: 100%;
    background-color: rgba(5, 125, 198, 1);
    background-image: linear-gradient(216deg, rgba(5, 125, 198, 1) 1%, rgba(39, 54, 117, 1) 92%);
    margin-bottom: 1rem;
    color: white;
}
.window-current{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.head-current{
    height: 20%;
    width: 100%;
}
.body-current{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}
.footer-current{
    height: 20%;
    width: 100%;
}
.body-left-current{
    font-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    color: white;
}


.body-right-current {  
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "current-text precipitationProbability-text"
      "-current-temperature-value precipitationProbability-value"
      "temperatureApparent-text windSpeed-text"
      "temperatureApparent-value windSpeed-value";
  }
  
  .-current-temperature-value { grid-area: -current-temperature-value; }
  
  .current-text { grid-area: current-text; }
  
  .precipitationProbability-text { grid-area: precipitationProbability-text; }
  
  .temperatureApparent-text { grid-area: temperatureApparent-text; }
  
  .temperatureApparent-value { grid-area: temperatureApparent-value; }
  
  .precipitationProbability-value {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "precipitationProbability-value-text precipitationProbability-value-icon";
    grid-area: precipitationProbability-value;
  }
  
  .precipitationProbability-value-text { grid-area: precipitationProbability-value-text; }
  
  .precipitationProbability-value-icon { grid-area: precipitationProbability-value-icon; }
  
  .windSpeed-text { grid-area: windSpeed-text; }
  
  .windSpeed-value {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "windSpeed-value-text windSpeed-value-icon";
    grid-area: windSpeed-value;
  }
  
  .windSpeed-value-text { grid-area: windSpeed-value-text; }
  
  .windSpeed-value-icon { grid-area: windSpeed-value-icon; }
  

  .footer-current {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cloudCover humidity pressureSurfaceLevel";
  }
  
  .cloudCover {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cloudCover-icon cloudCover-value";
    grid-area: cloudCover;
  }
  
  .cloudCover-icon { grid-area: cloudCover-icon; }
  
  .cloudCover-value { grid-area: cloudCover-value; }
  
  .humidity {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "humidity-icon humidity-value";
    grid-area: humidity;
  }
  
  .humidity-icon { grid-area: humidity-icon; }
  
  .humidity-value { grid-area: humidity-value; }
  
  .pressureSurfaceLevel {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "pressureSurfaceLevel-icon pressureSurfaceLevel-value";
    grid-area: pressureSurfaceLevel;
  }
  
  .pressureSurfaceLevel-icon { grid-area: pressureSurfaceLevel-icon; }
  
  .pressureSurfaceLevel-value { grid-area: pressureSurfaceLevel-value; }
  