.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.window {
  background-color: white;
  min-height: 100vh;
  width: 1000px;
  opacity: 0.8;
  border: 0px solid #000000;
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 5rem;
}

.top {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.top > a {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  color: #dddddd;
  text-decoration: none;
}

.bot {
  height: auto;
  width: 100%;
}

.container-bottom {
  /* margin: 2rem; */
  border-top: 1px solid #000000;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.input {
  font-size: 22px;
  font-weight: bold;
  padding: 7px 21px;
  width: 100%;
  padding-right: 7px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 2px;
  box-shadow: 3px 3px 4px 0px #e2e2e2;
  transition: 0.3s ease;
}

.input:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 10px;
}

.input::placeholder {
  color: #dddddd;
}

.svg_icon {
  position: absolute;
  right: 28px;
  fill: #4660dc;
  width: 22px;
  height: 22px;
}

.svg_icon:hover {
  cursor: pointer;
}

.footer-cointaiter {
    color: #c4d1eb;
    background-color: #ffffff;
    height: 3rem;
    width: 1000px;            /* identycznie jak .window */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;                /* wyśrodkowanie */
    transform: translateX(-50%);
    z-index: 100;
}

.footer-icon {
  font-size: 25px;
  vertical-align: middle;
  margin-left: 5px;
}

.footer-cointaiter a {
  color: #7d8699;
  text-decoration: none;
  transition: font-size 0.5s;
}

.footer-cointaiter :hover {
  color: #484d58;
  font-size: 105%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #5a7ec7 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
